node_modules/
.next/
out/
dist/
.turbo/
frontend-dev.*.log

.venv/
__pycache__/
*.pyc
.env

exports/**
!exports/.gitkeep
assets/**
!assets/.gitkeep
scenes/**
!scenes/.gitkeep
motions/**
!motions/.gitkeep
